* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --content-background-color: #F3EDDF;
    --font-color: #ffffff;
}

.container {
    background-color: var(--content-background-color);
    height: 800px;
    width: 70vw;
    margin: 4rem auto;
    border-radius: 30px;
}

