.cardContainer {
    background-color: #ffffff;
    width: 450px;
    border-radius: 25px;
    padding: 1rem;
    cursor: pointer;
}

.cardContainer img {
    width: 50%; /* Makes the image responsive to the container's width */
    height: auto; /* Maintains the aspect ratio */
    border-radius: 10px; /* Optional: Adds rounded corners to the image */
}

.cardContainer:hover {
    background-color: #d2e7f0;
}

.title a {
    text-decoration: none;
}